<div class="container-fluid p-5 mb-3 bg-gray">
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-2 mb-2 text-center">
            <h4 class="titleLogo"><a [routerLink]="['']">DevForum</a></h4>
        </div>
        <div class="col-md-4 col-sm-12 mt-2 mb-2 ">
            <div class="form">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2 mb-2 text-center" *ngIf="!token">
           <button (click)="redirect('auth')" class="btn btn-primary m-1 " >
               Login
           </button>
           <button (click)="redirect('register')" class="btn btn-success  m-1">
               Register
            </button>
        </div>
        <div class="col-md-4 col-sm-12 mt-2 mb-2 text-center" *ngIf="token">
            <button (click)="logout()" class="btn btn-success  m-1">
                Logout
             </button>
         </div>
    </div>
</div>

<nav class="navbar bg-faded">
    <div class="container ">
        <!--<nav class="nav navbar-logo mx-auto">
            <a class="nav-link effect h5" routerLink="/home">Tendências</a>
            <a class="nav-link effect h5" routerLink="/home">Fórum</a>
            <a class="nav-link effect h5" routerLink="/home">Novos</a>
        </nav>-->
    </div>
</nav>

<div class="container-fluid bg-gray p-5">
    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto ">
            <div *ngFor="let d of data" class="card mb-3 text-center">
                <div class="card-head">
                  
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{d.subject}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{d.content}}</h6>
                    <small>{{d.creationDate}}</small><br>
                    <small></small>
                    <a [routerLink]="['topic/details/', d.id]">Ver</a>
                    <h6 class="text-center mt-5" *ngIf="d.status=='CLOSED'">FECHADO</h6>
                </div>
            </div>
        </div>
    </div>
</div>

