<div class="container-fluid bg-gray p-5">
    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto ">
            <div *ngFor="let d of data" class="card mb-3 text-center">
                <div class="card-head"></div>
                <div class="card-body">
                    <h5 class="card-title">{{d.content}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{d.subject}}</h6>
                    <small>{{d.creationDate}}</small><br>
                    <a href="" (click)="navigateTo(d.id)">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>

