<div class="container-fluid p-5 mb-3 bg-gray">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-2 mb-2 text-center">
            <h4 class="titleLogo"><a [routerLink]="['']">DevForum</a></h4>
        </div>
        <div class="col-md-6 col-sm-12 mt-2 mb-2 text-center">
           <button (click)="redirect('dashboard')" class="btn btn-primary m-1 " >
               Dashboard
           </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col px-5">
        <form class="col-md-6 col-sm-12 mx-auto" [formGroup]="form">
            <div class="card p-5">
              
                <div class="form-group">
                    <label for="formEmailInput">Título: </label>
                    <input 
                    type="text" 
                    formControlName="subject" 
                    class="form-control" 
                    id="formEmailInput"
                    placeholder="Insira o titulo da postagem">
                </div>
               <textarea formControlName="content"  class="form-control" rows="5" cols="10"></textarea>
           
               
                <div class="form-group mt-3">
                    <button  class="btn btn-success" (click)="create()">Criar</button>
                </div>
            </div>
        </form>
    </div>
</div>